@use '../../scss/_variables.scss' as *;
@use '../../scss/_breakpoints.scss' as *;

.details-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 90vh;
}

@media (max-width: 700px) {
  .details-container {
    grid-template-columns: 1fr;
  }
}
