@use '../../../scss/_variables.scss' as *;
@use '../../../scss/_breakpoints.scss' as *;

.nav-ul {
  height: fit-content;
  li {
    position: relative;
    width: max-content;
    margin-bottom: 5px;
    padding: 0 10px;

    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 4px;
      // transform: translateX(-50%);
      width: 0;
      transition: width 0.2s ease;
      height: 2px;
      background-color: $main-color;
    }

    &.active::after,
    &:hover::after {
      width: 90%;
    }
  }
}
