@use '../../scss/_variables.scss' as *;

.category {
  margin-top: 85px;
  background-image: url('../../assets/burger-background.png');
  background-size: cover;
  overflow: hidden;
  h1 {
    font-family: 'Dancing Script', cursive;
  }
  &__title {
    display: flex;
    padding-top: 40px;
    width: 100%;
    justify-content: center;

    h1 {
      color: aliceblue;
      font-size: 80px;
    }
  }

  .burger-container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
    min-height: 100vh;
  }

  @media (max-width: 1266px) {
    .burger-container {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }

  @media (max-width: 600px) {
    .burger-container {
      padding: 15px;
    }
  }
}
